@import "../../styles/global.scss";

.section--contact {
  background: linear-gradient(
      to bottom,
      rgba($color-navy, 0.8) 0,
      rgba($color-navy, 0.8) 100%
    ),
    url(/static/photos/hero_about.jpg);
  background-size: cover;
  background-position: center top;
  box-shadow: inset 0 0 20px 0 $color-black;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  @media (max-width: 639px) {
    grid-template-columns: 1fr;
  }

  svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: $color-white;
    margin-right: 12px;
    opacity: 0.5;
    @media (max-width: 639px) {
      display: none;
    }
  }
  p {
    color: $color-white;
    font-weight: 400;
    font-size: 18px;
    margin: 16px 0 0 0;

    span {
      opacity: 0.2;
      margin: 0 8px;
    }
  }

  a {
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
  }

  .contact__box {
    text-align: left;
    padding: 16px 0;
    @media (max-width: 639px) {
      text-align: center;
    }
  }

  .contact__map {
    align-self: center;

    img {
      width: 100%;
      border-radius: 4px;
      margin-top: 24px;
      margin-bottom: 32px;
    }

    a {
      border: none;
      background: none;
      &:hover {
        background: none;
        transform: scale(1.1);
      }
    }
  }
}
