@import "reset";

$color-gold: #f3c883;
$color-white: #fff;
$color-navy: #1f303d;
$color-black: #171e24;

body {
  margin: 0;
}

section.section {
  min-height: 100vh;
  padding: 32px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;

  &.section--navy {
    background: $color-navy;
  }

  &.section--black {
    background: $color-black;
  }
}
