@import "../../styles/global.scss";

.section--about {
  background: linear-gradient(
      to bottom,
      rgba($color-navy, 0.8) 0,
      rgba($color-navy, 0.8) 100%
    ),
    url(/static/photos/hero_about.jpg);
  background-size: cover;
  background-position: center top;
  box-shadow: inset 0 0 20px 0 $color-black;
}

.section--disclaimer {
  background: #b4302b;
}
.disclaimer {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  font-family: "Sansita", sans-serif;
  color: $color-gold;
  letter-spacing: 1px;
  padding: 20px;
  margin-bottom: 32px;
  img {
    max-width: 640px;
    width: 100%;
  }
  @media (max-width: 800px) {
    font-size: 32px;
  }
}
